{% extends '_base.html' %}
{% load socialaccount %}
{% block title %}
 Home
{% endblock %}

{% block content %}
  Welcome
  {% if user.is_authenticated %}
     <h1> {{user.email}}</h1>
     <a href="{% url 'account_logout' %}">Logout</a>
  {% else %}
     already a member ?
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% provider_login_url 'google' %}">Log In With Google</a>
     <br>
     if are not <a href="{% url 'account_signup' %}">SignUp</a>
  {% endif %}
{% endblock %}